<!--
  ~ Copyright (c) 2019 Red Hat, Inc.
  ~
  ~   This Source Code Form is subject to the terms of the Mozilla Public
  ~   License, v. 2.0. If a copy of the MPL was not distributed with this
  ~   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  ~
  ~ If it is not possible or desirable to put the notice in a particular
  ~ file, then You may include the notice in a location (such as a LICENSE
  ~ file in a relevant directory) where a recipient would be likely to look
  ~ for such a notice.
  ~
  ~ You may add additional accurate notices of copyright ownership.
  ~
  -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%d) %highlight(%level) %green([%thread]) %cyan(%logger{50}) - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="warn"/>
  <logger name="io.vertx" level="info"/>
  <logger name="org.mongodb" level="info"/>
  <logger name="org.apache.kafka" level="info"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
  
</configuration>
